[submodule "third_party/Megatron-LM"]
	path = third_party/Megatron-LM
	url = https://github.com/ROCm/Stanford-Megatron-LM
[submodule "third_party/Stanford-Megatron-LM"]
	path = third_party/Stanford-Megatron-LM
	url = https://github.com/ROCm/Stanford-Megatron-LM
